body {
	background-color:#87CEFA;
	padding:0px;
	margin:0px;
}

#list {
	font-size:14px;
}

#header {
	font-size:18px;
}

#accordion {
	padding:0px;
	margin:10px;
	background:#B8B8B8;
	width:640px;
	height:200px;
	overflow:hidden;
}

#accordion>li {
	display:inline-block;
	vertical-align:top;
	float:left;
}

#accordion>li:nth-child(odd) {
	background:lightgreen;
	transform:rotate(270deg);
	ms-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	width:200px;
	height:30px;
	text-align:center;
	margin:85px -85px;
}

#accordion>li:nth-child(even) {
	width:130px;
	height:200px;
	background:#B8B8B8;
}

#draggable { 
	width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
}

#droppable { 
	background-image:url('ischool.jpg');
	width: 160px; 
	height: 120px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
}

#slidingBox {
	background-color:orange;
	width:60px;
	height:60px;
	display:none;
}

#message {
	text-align:center;
}

#box {
	background-color:orange;
	width:60px;
	height:60px;
	border:1px solid black;
	position:absolute;
	top:880px;
	left:10px;
}

#brick {
	background-color:grey;
	width:35px;
	height:60px;
	border:2px solid black;
	position:absolute;
	left:700px;
}

#progressbar {
	color:purple;
	width:500px;
	height:30px;
}